*
{
    margin:0%;
    box-sizing: border-box;
    padding:0%;
}

.first
{
    width:100%;
    height: 80px;
    /* background-color: aqua; */
}
.inside
{
    width:95%;
    height: 80px;
    /* background-color: gainsboro; */
    margin:auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0px;
    transition: 0.5s ease;
}
.inside .social i
{
    font-size:17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border:1px solid #F5F5F5;
    border-radius: 50% ;
    padding: 10px ;
    color: #4d4d4d;
}
.inside .social i:hover
{
    background-color: #95adbe;
    border: 1px solid #95adbe;
    color: white;
}
input
{
    height:52px;
    border-radius: 25px;
    width: 250px; 
    border: none;
    background-color: rgba(0, 0, 0, 0.03);
    padding-left:50px ;
    outline: none;
    
}
.search .ri-search-line
{
    position: relative;
    right:46px;
    line-height:52px;
    top:1px;
    font-size: 16px;
    border-left:1px solid #95ADBE ;
    padding: 17px 12px;
    background-color:  #95ADBE;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;

}
.search i
{
    color: white;
    font-weight: 600;
}
.nav
{
    width:100%;
    /* background-color: aqua; */
}
.nav-menu
{
    width:60;
    margin: auto;

}
.nav-menu ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.nav-menu li
{
    list-style: none;
    /* padding: 10px 30px; */
}
.nav-menu a
{
    color:black;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    padding: 10px 30px;
    transition: 0.8s;
    /* margin-bottom: 10px; */
}
.nav-menu a::after
{ 
    content: '';
    width: 100%;
    position: absolute;
    left:0;
    bottom: -1px;
    transform: scaleX(0);
    transform-origin: bottom center;
    background-color: #95adbe;
    height: 2px;
    transition: transform 0.25s ease-out;
}
.nav-menu a:hover::after
{
    transform-origin: bottom left;
    transform: scaleX(1);
    color:#95adbe;
}
.nav-menu a:hover
{
    color:#95adbe;
}
.second
{
    width: 100%;
    height: 100vh;
}
.second .text h1
{
    color:black;
    font-weight: 500;
    font-size: 60px;
    /* position: absolute; */
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    left:20%;
}
.second .image
{
    background-image: url('images/bg.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.second a
{
    font-size: 13px;
}
.text p
{
    /* position: absolute; */
    color:rgba(0, 0, 0, 0.8);
    font-size: 18px;
}
.text
{
    position: absolute;
    left:12%;
    top:60%;
}
.text a 
{
    text-decoration: none;
}
.button
{
    margin-top: 5%;
}
.text .about
{
    border: 1px solid #95adbe;
    color:white;
    background-color: #95adbe;
    padding: 16px 24px;
    border-radius: 3px;
}
.explore
{
    color:black;
    padding: 16px 24px;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
}
.main-round
{
    /* background-color: aqua; */
    position: relative;
    top:-9%;
}
.round
{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.shape
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color:#f5f4f0 ;
    transition: 0.5s ease;
}
.r
{
    width: 15%;
    text-align: center;
}
.shape
{
    margin: auto;
    /* background-color: ; */
}
.r h2
{
    font-size: 24px;
}
.ro
{
    height: 40px;
    width: 40px;
    background-color: #ff7a5c;
    border-radius: 50%;
    position: relative;
    top:40%;
    left:50%;   
    transition: 0.5s ease;                                                       
}
.main-round .r:hover .shape 
{
    background-color: #95adbe;
}
.main-round .r:hover .ro
{
    background-color: black;
    position: relativea;
    left: 6%;
    line-height: 170px;
    top:25%;
}
.counter
{
    height:150px;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.counter h2
{
    /* color:red; */
    font-size: 50px;
    font-weight: 400;
}
.welcome
{
    width:100%;
    height:600px;
    
    /* background-color: #95ADBE;  */
}   
.welcome .box-img
{
    width:80%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 7%;
    display: flex;
}
.welcome .box-img .image
{
    width:50%;
    height: 600px;
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/about-1.jpg.webp');
    background-attachment: scroll;
    background-position: cover;
}
.welcome .box-img .text2 span
{
    font-size: 14px;
    color:#ff7a5c;
    line-height: 25px;
}
.welcome .box-img .text2
{
    width: 50%;
    top: 10vh;
    margin: auto;
    position: static;
    padding-left: 3rem;
}
.welcome .box-img .text2 h1
{
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 24px;
}

.welcome .box-img .text2 p
{
    font-size: 17px;
    color:#808080;
    font-weight: 400;
    line-height: 31px;
    margin-bottom:22px ;
}
.welcome .box-img .text2 a
{
    background-color: #95adbe;
    color:white;
    border:1px solid #95adbe;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 2px;
}
.new-release
{
    display: block;
    text-align: center;
    padding-bottom: 2vh;
    margin: 50px;
}
.new-release span
{
    text-align: center;
    font-size:14px;
    line-height: 25px;
    color: #ff7a5c;
}
.new-release h1
{
    font-size: 50px;
    line-height: 75px;
}
.books
{
    height: 693px;
    width:100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    padding: 0px 3%;
}
.books .a
{
    background-color: whitesmoke;
}
.books .a .img
{
    width: 50%;
}
.books .a .text
{
    width: 50%;
    position:static;
    padding: 24px;
    transition: 0.3s ease;
}
.books .a
{
    display: flex;
    transition:all 0.5s ease;
}
.books .a .img
{
    width:50%;
    height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.books .a .img .icon
{
    display: flex;
    flex-direction: column !important;
    justify-content: end;
    align-items: end;
}
.books .book1 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-1.jpg.webp');
}
.books .book2 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-2.jpg.webp');
}
.books .book3 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-3.jpg.webp');
}
.books .book4 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-4.jpg.webp');                                               
}
.books .book5 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-5.jpg.webp');
}
.books .book6 .img 
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/book-6.jpg.webp');
}
.books .a .text p
{
    font-size: 17px;
    line-height: 31px;
    color:#ff7a5c;
    font-family: lora;
    margin-bottom: 8px;
    transition: 0.3s ease;
}
.books .a .text h2
{
    margin-bottom: 8px;
    font-family: lora;
    font-size:24px;
    line-height: 36px;
    cursor: pointer;
    transition: 0.3s ease;
}
.books .a .text span
{
    font-size:17px;
    line-height: 31px;
    color:rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}
.books .a:hover .text
{
    background-color: #95adbe;
}
.books .a:hover p
{
    color: white;
}
.books .a:hover h2
{
    color: white;;
}
.books .a .img i
{
    color: black;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 16.5px;
    margin: 10px 10px 5px 10px;
    background-color: white;
    display: none;
    transition: 0.5s ease;
}
.books .a:hover .img i
{
    display: block;
}
.books .a .img i:hover
{
    background-color: #ff7a5c;;
    color:white;
    border:1px solid #ff7a5c;
}
.first .testo
{
    background: linear-gradient(rgba(149,173,190,0.8),rgba(149,173,190,0.8)),url('https://preview.colorlib.com/theme/publishingcompany/images/bg_4.jpg.webp');
    height:50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20vh;
}
.testo .text
{
    position: relative;
    margin: auto;
    /* line-height: 50vh; */
    top: 30%;
    left: 0%;
}
.testo .text span
{
    font-size: 14px;
    color: white;
    margin-top: 10%;
    line-height: 25px;
    display: block;
    text-align: center;
}
.testo .text h1
{
    line-height: 75px;
    text-align: center;
    color:white;
    font-size: 50px;
}
.sroll
{
    height:250px;
    margin: auto;
    width: 80%;
    position: relative;
    top:-10%;
    /* background-color: #95ADBE; */
}
.sroll .slide1 
{
    display: flex;
    justify-content: space-between;
}
.sroll .slide1 .sl1
{
    height: 250px;
    width: 310px;
    border-radius: 5px;
    padding: 24px 30px;
    background-color: whitesmoke;
}
.sroll .slide1 .sl1 .text 
{
    height: 60%;
    width: 100% ;
    position: static;
    /* background-color: #4d4d4d; */
}
.sroll .slide1 .sl1 .text p
{
    font-size: 17px;
    color: grey;
    line-height: 31px;
}
.sroll .slide1 .sl1 .profile
{
    height: 40%;
    width: 100%;
    display: flex;
}
.sroll .slide1 .sl1 .profile .pro-name 
{
    padding:0px 0px 0px 12px;
}
.sroll .slide1 .sl1 .profile .pro-name h3
{
    font-size: 20px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}
.sroll .slide1 .sl1 .profile .pro-name span
{
    font-size: 16px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
    color:#4d4d4d
}
.sroll .slide1 .sl1 .img 
{
    height: 80px;
    width: 80px;
    background-color:whitesmoke ;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.sroll .slide1 .s1 .profile .img
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/person_1.jpg.webp');
}
.sroll .slide1 .s2 .profile .img
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/person_2.jpg.webp');
}
.sroll .slide1 .s3 .profile .img
{
    background-image: url('https://preview.colorlib.com/theme/publishingcompany/images/person_3.jpg.webp');
}
.center-text
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.center-text span
{
    color: #ff7a5c;
    font-size: 14px;
    line-height: 25px;
}
.center-text h1
{
    color:rgba(0, 0, 0, 0.7);
    font-size: 50px;
    line-height: 75px;
    font-weight: 500;
}
.date-box
{
    width: 100%;
    height: 100vh;
    padding: 100px;
    /* background-color: #95ADBE; */
    /* position: static; */
    display: flex;
    justify-content: space-around;
}
.date-box .t1 
{
    height: 450px;
    width: 350px;
}
.date-box .first .text
{

    position: static;
}
.date-box .t1 .img
{
    height:225px ;
}
.date-box .t1 img
{
    width: 100%;
    height: 225px;
}
.date-box .t1 .date-round
{
    height: 100px;
    width:100px;
    background-color: #f5f4f0;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 16px 0px;
    position:relative;
    top: -10%;
    transition: .5s ease;
}
.date-box .t1 .date-round date
{
    color: #95adbe;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    transition: .5s ease;
}
.date-box .t1 .date-round m
{
    font-size: 16px;
    line-height: 19px;
}
.date-box .t1 .date-round y
{
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.2);
}
.date-box .t1 a
{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: black;
    display: block;
    text-align: center;
    transition: .5s ease;
}
.date-box .t1 p
{
    font-size: 17px;
    line-height: 31px;
    color: #808080;
    font-weight: 400;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.date-box .t1 .text 
{
    position:relative;
    left: 0%;
    top: -10%;
}
.date-box .third 
{
    position: static;
}
.date-box .t1:hover .date-round
{
    background-color: #95adbe;
}
.date-box .t1:hover .date-round date
{
    color: white;
}
.date-box .t1 .text a:hover
{
    color:#95adbe;
}
.last
{
    height: 550px;
    width: 100%;
    /* background-color: whitesmoke; */
    /* position: static; */
}
.last .grey 
{
    padding: 95px 95px;
    background-color: #1a1a1a;
    height: 420px;
    width: 100%;
    position: relative;
    top: 0%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: white;
    line-height: 30px;
}
.last .grey .connect p
{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 30px;
}
.last .grey .connect i
{
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #95adbe;
    padding: 16px 16.64px;
    background-color: #95adbe;
    border-radius: 50%;
    /* margin-top: 500px; */
}
.last .grey .connect .icon
{
    margin-top: 30px;
}
.last .grey .connect p
{
    font-family: 'Roboto', sans-serif;
}
.last .grey ol
{
    list-style-type:'>' ;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}
.last .grey ol a
{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    padding-left: 4px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 29px;
}
.have-a-question span
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    line-height: 24px;
    font-weight: 400;
}
.have-a-question i
{
    color:rgba(255, 255, 255, 0.9);
}
.header
{
    margin-bottom: 30px;
}
.last .black
{
    position: static;
    background-color: black;
    color: rgba(255,255,255, 0.5);
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
}