
*
{
    font-family: Raleway, sans-serif;
    list-style: none;
}
    .nav-link{
    color:grey;
    transition:all ease-in-out 0.8s ;
    }
    .nav-link:hover {
    color: blue;
    }
h1
{
    font-weight: 700;
    font-size: 48px;
}
li i
{
    color: green;
    
}
@media (min-width:767px)
{   
    .navbar .dropdown-menu.fade-up{ 
        top:180%;
    }
    .dropdown-menu {
        opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;
        }
    .dropdown:hover  > .dropdown-menu  , .dropend:hover  > .dropdown-menu 
    {
        display: block;
        transition: .3s;
            opacity:1;
            visibility:visible; 
        top:100%; 
        margin-top: 0;
    }
    .dropend:hover  > .dropdown-menu
    {
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: 0;
        margin-left: 5px;
    }
    
}
.bg-white
{
    background-color: white;
}
.tittle
{
    font-size: 18px;
}
.dhruv i
{
    font-size: 48px;
}
h4 a
{
    color: black;
    text-decoration: none;
}
.dhruv .col-2
{
    transition: 1s all;
}
.dhruv .row
{
    position: relative;
    margin-top: 50px;
}
.dhruv .col-2:hover {
    margin-top: 10px;
    border-radius: 5px;
    background-color: aqua;
    padding-top: 10px;
}
.tab-content img
{
    width: 100%;
    background-color: aquamarine;
}
.row
{
    width: 100%;
}
.tab-content .col-3{
    position: relative;
}
.anime::before{
    content: "";
    /* width: 100%; */
    left: 30px;
    right: 30px;
    top: 30px;
    /* z-index: 2; */
    bottom: 30px;
    position: absolute;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    transition: all ease-in-out 0.5s;
    /* width: 100%; */  
}
.anime:hover::before{
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hoverr .tex{
    position: absolute;
    top: -200%;
    transform: translate(0%,-50%);
    width: 100%;
    left: 0%;
    transition: all ease-in-out 0.8s;
    opacity: 0;
}
.anime:hover .tex{
    top: 0;
    opacity: 1;
}
.hoverr .icons{
    position: relative;
    bottom: -100px;    
    opacity: 0;
    z-index: 3;
    transition: all ease-in-out 0.5s;
}
.anime:hover .icons{
    bottom: -30px;
    /* z-index: ; */
    opacity: 1;
}
.hoverr{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.hoverr .icons i
{
    border: 1px solid lightblue;
    border-radius: 50%;
    background-color: lightblue;
    padding: 5px 6px;
    font-size: 35px;
    transition: all 0.4s;
}
.hoverr .icons i:hover
{
    background-color: #009cea;
    border: 1px solid #009cea;
    color: white;
    /* display: block; */
}
.parral{
    background: linear-gradient(rgba(255,255,255,.5),#ffffff80),url('https://bootstrapmade.com/demo/templates/Scaffold/assets/img/cta-bg.jpg');
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-color: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,0.5));
    position: relative;
}
.testimonial .row .col-3{
    position: relative;
    background-color: #f4f6f7;
    padding: 30px;
    padding-bottom:50px ;
}
.text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.testimonial .row .col-3 .img img{
    height: 80px;
    position: absolute;
    background-color: black;
    border: 10px solid white;
    border-radius: 50%;
    /* margin: 10px; */
    top:85%;
    left: 5%;
}
.testimonial .row .col-3 .img .text {
    position: absolute; 
    top:125%;
    left: 55%;
}
.team{
    background-image: url('https://bootstrapmade.com/demo/templates/Scaffold/assets/img/team-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    /* height: max-content; */
}
.taxt{
    transition: 0.5s;
}
.team{
    margin-top: 120px;
}
.clients .row .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.clients .row .img{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.9);
    height: 133.33px;
    transition: 0.5s;
    filter: grayscale(1);
}
.clients .row .img:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}
 @media (max-width: 1030px){
    .team .taxt {
        height:95px;
    }
} 
@media (min-width:1031px)
{
    .team .taxt {
        height: 100px;
    }
}
.team .taxt {
    overflow: hidden;
    padding: 10px;
    margin-bottom: 40px;
}
.team .col-3:hover  .taxt{
    overflow: visible;
    margin-bottom: 0px;
    height: 140px;
}
.price .row .col-3{
    position: relative;
    overflow: hidden;
}
.price .row .col-3 .curve{
    position: absolute;
    padding: 7px 60px;
    transform: rotate(45deg);
    top: 23px;
    right: -45px;
}
.price .row{
    padding: 0;
}
.price{
    padding: 0;
}
.faq .bg-light-1{
    background-color: white;
}
.contact-us .row i{
    color: #009cea;
    background-color: #f2f4f5;
    padding: 13px 16.5px ;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.5s;
}
.bg-light-1{
    background-color: white;
}
.contact-us .row .loc:hover i{
    background-color: #009cea;
    color: #f2f4f5 ;
}
.contact-us .btn{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.contact-us .form-group input{
    height: 44px;
}
a{
    text-decoration: none;
}
.footer .social-links i{
    color: #8a9ca5;
    background-color: #e9ecee;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
}
.footer ul li {
    padding-bottom: 10px;
}
.footer ul li i{
    color: #009cea;
}
.footer ul li a{
    color: #576971;
}
.footer .first {
    height:46px ;
    width: 65%;
    outline: none;
    padding: 5px 10px;
}
.footer .second{
    background:#009cea;
    font-size: 16px;
    color: white;
    border: 1px solid #009cea;
    padding: 10px 20px;
    position: absolute;
    top: -3;
}
.footer form{
    padding: 6px 10px;
}
.navbar{
    width: 100%;
}


@media (max-width:767px){
    .tab-content .icons i{
        font-size: 15px;
    }
}